<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/styles.css')}}">
</head>
<body>
    <h1 id="add_contact">Add Contact</h1>
    <form action="/handleAddContact" method="POST">


        <div id="name-div">
            <label >Name: </label>
            <input type="text" name="contact-name"><br>
        </div>


        <div id="number-div">
            <label>Number: </label>
            <input type="text" name="contact-number"><br>
        </div>
        

        <div id="button-div">
            <button type="submit">Add Contact</button>
        </div>    


    </form>
    <p id="to-home-div"><a href="/">back to home</a></p>

</body>
</html>