<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Contact</h1>
    <form action="/handleAddContact" method="POST">
        <label>Name: </label>
        <input type="text" name="contact-name"><br>

        <label>Number: </label>
        <input type="text" name="contact-number"><br>
        <button type="submit">Add Contact</button>

    </form>

    <p><a href="/">back to home</a></p>

</body>
</html>