<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Delete Contact</h1>

    <h2>Contacts: </h2>
    <p>
        {% for contact in contacts %}

        {{loop.index}}. {{contact[0]}} {{contact[1]}}
    
        <br>
        {% endfor %}

    </p>
    <p>
        {{error}}
    </p>


    <form action="/handleDeleteContact" method="POST">
        <label>Enter Index of Contact: </label>
        <input name="contact-number" min="1" step="1">

        <input type="submit">
    </form>

    <p><a href="/">go home instead</a></p>
</body>
</html>