<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/styles.css')}}">
</head>
<body>
    <h1 id="contact_book">Contact Book</h1>
    <h2 id="add_contact"><a href="/add_contact">Add Contact</a></h2>
    <h2 id="show_contacts"><a href="/show_contacts">Show Contacts</a></h2>
    <h2 id="delete_contact"><a href="/delete_contact">Delete Contact</a></h2>
</body>
</html>